.navbar {
    background-color: var(--dark);
    padding: 0.25rem 2rem;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .logo {
    font-weight: bold;
    color:var(--primary);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--font-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.navbar .logo:hover {
    color: var(--tertiary);
}

.navbar .logo .logo-img {
    height: 59px;
}

.navbar .categories .categories-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 2rem;
}

.navbar .categories .categories-list .category .link {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-primary);
}

.navbar .categories .categories-list .category .link:hover {
    color: var(--tertiary); 
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        height: fit-content;
    }
}

@media screen and (max-width: 650px) {
    .navbar .categories .categories-list{
        flex-direction: column;
    }
}