.sidebar {
    width: 250px;
    background-color: var(--cards);
    position: fixed;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .sidebar {
        width: 135px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}